{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}

    <br>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
      </ul>
    {% endif %}

    <h2>New Interest</h2>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="post-form" action="/user/interests">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Add Interest</button>
    </form>

    <br>
    <h2>My Interests</h2>
    <div>
         {% render_table interests %}
    </div>

{% endblock %}